* {
    box-sizing: border-box;
}


body {
    margin: 0px;
}
.nav {
    background-color:bisque;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav a:hover {
    background-color: grey;
    color: white;
}

.nav a.active{
    background-color: blue;
    color: white;
}

.nav .search-bar {
    float: right;
}

.nav .search-bar button {
    cursor: pointer;
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
}

.nav input[type = text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.nav .search-bar button:hover {
    background: #ccc
}

.card-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-results {
    display: flex;
    justify-content: center;
}

.resultsTitle {
    color: #333333;
    font-weight: bold;
    line-height: 1.3;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.seperator {
    width: 500%;
}

.BookPage {
    display: flex;
    width: 80%;
    gap: 20px;
}

.BookPage_left {
    flex: 1;
}

.BookPage_right {
    flex: 2;
}


.title {
    font-size: 70px;
    font-weight: bold;
}

.author {
    font-size: 50px;
}

.container-img {
    width: 200px;
    height: 120px;
}

.container-img img {
    width: 100%;
    height: auto;
    padding-top: 20%;
}

.description, .date, .page-count{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tabs {
    margin: 5px;
    color: black;
}

.sigin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    padding: 20px;
}

.signin-form {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.signin-form h3 {
    text-align: center;
    margin-bottom: 4px;
}

.signin-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
  }

  .signin-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }

  .signin-form button {
    width: 100%;
    padding: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }






