* {
    box-sizing: border-box;
}

.nav {
    background-color:bisque;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: grey;
    color: white;
}

.nav a.active{
    background-color: blue;
    color: white;
}

.nav .search-bar {
    float: right;
}

.nav .search-bar button {
    cursor: pointer;
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
}

.nav input[type = text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.nav .search-bar button:hover {
    background: #ccc
}


